In [166]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder
from sklearn.model_selection import train_test_split

In [167]:
data=pd.read_csv('C:\\Users\\SUDARKODI S\\Downloads\\NPPE1_Preprocessing1.csv')
data.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO

In [168]:
#How many samples are there in the dataset?
data.shape

(4000, 14)

In [169]:
#What is the average house price (in lacs)?
data['PRICE'].mean()

24.355923220694248

In [170]:
#How many houses have 5 or more rooms?
data[data['RM']>=5].shape[0]

3953

In [171]:
#What is the average price of the top 10 most expensive houses (in lacs)
expensive=data.sort_values(by='PRICE',ascending=False)
expensive['PRICE'][:10].mean()

52.36590175716407

In [172]:
#What is the total number of missing or unknown values in the number of rooms feature?
#Hint: carefully look at the values the feature takes and find out implausible value.)
data['RM'].value_counts()

RM
 7.0     1733
 6.0      961
 8.0      894
 9.0      276
 5.0       47
 10.0      40
-1.0       40
 4.0        7
 11.0       2
Name: count, dtype: int64

In [173]:
#What is the total number of missing or unknown values in the age feature?
data['AGE'].value_counts()
data[data['AGE']==-2].shape[0]

50

In [174]:
#What is the total number of missing or unknown values in the RIVERSIDE feature?

data['RIVERSIDE'].value_counts()

RIVERSIDE
NO         3595
YES         317
UNKNOWN      88
Name: count, dtype: int64

In [175]:
#How many houses are on riverside and were built within the last 50 years (i.e. a house 50 years old or younger)?
#For this question, ignore the rows that have missing values in either riverside feature or age feature
newData=data[(data['AGE']!=-2) & (data['RIVERSIDE']!='UNKNOWN')]
newData[(newData['RIVERSIDE']=='YES') & (newData['AGE']<=50)].shape[0]

44

In [176]:
#How many houses are near to exactly 6, 7 or 8 highways (all three inclusive)?
data[(data['HIGHWAYCOUNT']==6) | (data['HIGHWAYCOUNT']==7) | (data['HIGHWAYCOUNT']==8) ].shape[0]

1211


s
Create a column 'CATEGORY' and divide the houses in categories as following:

Category 1: house price <10 lacs
Category 2: 10 lacs <= house price <20 lacs
Category 3: 20 lacs <= house price <30 lacs
Category 4: 30 lacs <= house price <40 lacs
Category 5: house price >=40 lacs

Which category has the highest number of records?

In [178]:
data['CATEGORY'] = ""

data.loc[data['PRICE'] < 10, 'CATEGORY'] = 'CATEGORY 1'
data.loc[(data['PRICE'] >= 10) & (data['PRICE'] < 20), 'CATEGORY'] = 'CATEGORY 2'
data.loc[(data['PRICE'] >= 20) & (data['PRICE'] < 30), 'CATEGORY'] = 'CATEGORY 3'
data.loc[(data['PRICE'] >= 30) & (data['PRICE'] < 40), 'CATEGORY'] = 'CATEGORY 4'
data.loc[data['PRICE'] >= 40, 'CATEGORY'] = 'CATEGORY 5'

In [179]:
data['CATEGORY'].value_counts()

CATEGORY
CATEGORY 3    2028
CATEGORY 2    1158
CATEGORY 4     503
CATEGORY 5     268
CATEGORY 1      43
Name: count, dtype: int64

Apply Pre processing
Divide the data into training and test sets

1. Replace the respective missing or unknown values in features room count, riverside and age with np.nan.
2. Keep 30% of the data as test set.
3. Use random_state as 0
4. PRICE is the target, rest of the columns are the features.
5. Apply train test split.
Hint: look for the documentation of the usual function that divides the data into training and test datasets.

What is the number of samples in the training set?

In [181]:
data['RM'].value_counts()

RM
 7.0     1733
 6.0      961
 8.0      894
 9.0      276
 5.0       47
 10.0      40
-1.0       40
 4.0        7
 11.0       2
Name: count, dtype: int64

In [182]:
#Replace missing or unknown values with np.nan
data['RM'].replace(-1, np.nan, inplace=True)
data['RIVERSIDE'].replace('Unknown', np.nan, inplace=True)
data['AGE'].replace(-2, np.nan, inplace=True)

X=data.drop(columns='PRICE')
y=data['PRICE']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

X_train.shape[0]

C:\Users\SUDARKODI S\AppData\Local\Temp\ipykernel_12436\588160054.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['RM'].replace(-1, np.nan, inplace=True)
C:\Users\SUDARKODI S\AppData\Local\Temp\ipykernel_12436\588160054.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['RIVERSIDE'].replace('Unknown', np.nan, inplace=True)
C:\Users\SUDARKODI S\AppData\Local\Temp\ipykernel_12436\588160054.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['AGE'].replace(-2, np.nan, inplace=True)

2800


Apply following preprocessing steps:

1. Drop CATEGORY column
2. CRIM: min max scaling
3. ZN: min max scaling
4. INDUS: standard scaling
5. POLINDEX: min max scaling
6. DIS: min max scaling
7. HIGHWAYCOUNT: min max scaling
8. TAX: min max scaling
9. PTRATIO: min max scaling
10. IMM: min max scaling
11. BPL: min max scaling
12. RM: impute with median then min max scaling
13. AGE: impute with mean then min max scaling
14. RIVERSIDE: Impute with most frequent value then one hot encode.

NOTE:
1. Make sure to preprocess the features in exactly above order. Answer of Q.16 depends upon correct order of featuring processing.
2. You may have to use multiple instances of a trasnformer for this question.

In [184]:
X_test

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,RIVERSIDE,CATEGORY
2230,5.119010,1.001766,20.204259,1.841607,5.0,99.0,1.830930,6,404.172126,16.282827,397.422448,30.623960,UNKNOWN,CATEGORY 2
668,1.621067,0.324205,12.214205,2.194710,7.0,20.0,5.625645,4,305.034171,19.518516,377.181849,10.365622,NO,CATEGORY 3
3616,1.111056,28.462163,15.952834,1.451877,8.0,54.0,4.179237,4,271.112552,19.875992,395.341625,9.170143,NO,CATEGORY 3
2363,0.713366,28.383493,15.278092,0.802699,6.0,78.0,4.477986,5,270.628591,19.387296,399.052898,11.080110,NO,CATEGORY 3
142,3.065310,0.486206,19.616756,1.209707,6.0,95.0,2.107519,5,403.069501,15.744918,358.274105,31.037402,NO,CATEGORY 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627,0.916156,0.760632,29.492355,2.866264,6.0,99.0,1.983242,6,712.071209,20.179898,319.350642,30.410766,NO,CATEGORY 1
3217,0.306077,0.485842,7.630576,1.327517,7.0,75.0,5.569058,5,288.173767,20.691064,391.672537,12.878722,NO,CATEGORY 2
3964,7.549266,1.440834,18.134919,0.788392,7.0,84.0,3.340805,25,668.054642,20.753262,398.165389,14.022146,NO,CATEGORY 2
149,1.017516,1.197080,6.570995,0.564603,7.0,39.0,6.752163,9,224.981237,20.438245,396.459082,9.138325,NO,CATEGORY 3
3412,0.562994,30.388452,5.287367,1.492654,7.0,66.0,7.253463,7,300.635578,17.511622,395.255936,14.174622,NO,CATEGORY 3

In [185]:
#Drop CATEGORY column
X_train.drop(columns=['CATEGORY'],inplace=True)

In [186]:

preprocessor=ColumnTransformer(
    [
        ('crim',MinMaxScaler(),['CRIM']),
        ('zn',MinMaxScaler(),['ZN']),
        ('indus',StandardScaler(),['INDUS']),
        ('poli',MinMaxScaler(),['POLINDEX']),
        ('dis',MinMaxScaler(),['DIS']) ,
        ('highway',MinMaxScaler(),['HIGHWAYCOUNT']),
        ('tax',MinMaxScaler(),['TAX']),
        ('ptratio',MinMaxScaler(),['PTRATIO']),
        ('imm',MinMaxScaler(),['IMM']),
        ('bpl',MinMaxScaler(),['BPL']),
        ('rm',Pipeline([
            ('rmImputer',SimpleImputer(strategy='median')),
            ('rmScaler',MinMaxScaler())
        ]),['RM']),
        ('age',Pipeline([
            ('ageImputer',SimpleImputer(strategy='mean')),
            ('ageScaler',MinMaxScaler())
        ]),['AGE']),
        ('river',Pipeline([
            ('riverImputer',SimpleImputer(strategy='most_frequent')),
            ('onehot',OneHotEncoder(sparse_output=False))
        ]),['RIVERSIDE']),
    ],
    remainder='passthrough'
)

In [187]:
X_train_pre=preprocessor.fit_transform(X_train)

In [188]:
X_train_pre.shape

(2800, 15)


What is the mean of the transformed test data (features only)?

In [190]:
X_test_pre=preprocessor.transform(X_test)
X_test_pre.mean()

0.3604295944757725

In [191]:
X_test

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,RIVERSIDE,CATEGORY
2230,5.119010,1.001766,20.204259,1.841607,5.0,99.0,1.830930,6,404.172126,16.282827,397.422448,30.623960,UNKNOWN,CATEGORY 2
668,1.621067,0.324205,12.214205,2.194710,7.0,20.0,5.625645,4,305.034171,19.518516,377.181849,10.365622,NO,CATEGORY 3
3616,1.111056,28.462163,15.952834,1.451877,8.0,54.0,4.179237,4,271.112552,19.875992,395.341625,9.170143,NO,CATEGORY 3
2363,0.713366,28.383493,15.278092,0.802699,6.0,78.0,4.477986,5,270.628591,19.387296,399.052898,11.080110,NO,CATEGORY 3
142,3.065310,0.486206,19.616756,1.209707,6.0,95.0,2.107519,5,403.069501,15.744918,358.274105,31.037402,NO,CATEGORY 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627,0.916156,0.760632,29.492355,2.866264,6.0,99.0,1.983242,6,712.071209,20.179898,319.350642,30.410766,NO,CATEGORY 1
3217,0.306077,0.485842,7.630576,1.327517,7.0,75.0,5.569058,5,288.173767,20.691064,391.672537,12.878722,NO,CATEGORY 2
3964,7.549266,1.440834,18.134919,0.788392,7.0,84.0,3.340805,25,668.054642,20.753262,398.165389,14.022146,NO,CATEGORY 2
149,1.017516,1.197080,6.570995,0.564603,7.0,39.0,6.752163,9,224.981237,20.438245,396.459082,9.138325,NO,CATEGORY 3
3412,0.562994,30.388452,5.287367,1.492654,7.0,66.0,7.253463,7,300.635578,17.511622,395.255936,14.174622,NO,CATEGORY 3